.update-photo {
    width: 50%;
}
.dropify-message p {
    font-size: 20px;
}
.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.logo-login-page {
    text-align: center;
    margin-bottom: 30px;
}
.logo-login {
    width: 200px;
}